{% extends 'layout.html' %}

{% block content %}
    {% if post.author == current_user %}
        <div class="mb-3">
            <a href="{{ url_for('posts.update_post', post_id=post.id) }}" class="btn btn-md btn-secondary mr-3">Update</a>
            <button class="btn btn-danger btn-md" data-toggle="modal" data-target="#deleteModal">Delete</button>
        </div>
    {% endif %}
    <div class="card mb-3 p-3 shadow bg-light">
            <div class="row">
                <div class="ml-3 mb-3 pr-2">
                    <img src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}" class="post-img rounded mx-md-auto d-block">
                </div>
                <div class="col">
                    <h6 class="post-category mb-1 small">
                        {% filter upper %}
                            {{ post.category}}
                        {% endfilter %}
                    </h6>
                    <h3 class="post-title mb-3">
                        <a class="clean-a" href="{{ url_for('posts.post', post_id=post.id) }}">{{ post.title }}</a>
                    </h3>
                    <div class="text-muted small mb-3">
                        By <a class="clean-a" href="{{ url_for('users.user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
                        on {{ post.date_posted.strftime('%b %d, %Y')}}
                    </div>
                    <p class="post-content">{{ post.content }}</p>
                </div>
            </div>
        </div>
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <form action="{{ url_for('posts.delete_post', post_id=post.id) }}" method="POST">
                    <input class="btn btn-danger" type="submit" value="Delete">
                </form>
            </div>
            </div>
        </div>
    </div>
{% endblock %}