{% extends 'layout.html' %}
{% block content %}
    <div class="shadow bg-light rounded">
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            <fieldset class="form-group mx-3 p-2 pb-3">
                <legend class="border-bottom py-3">
                    Reset Password
                </legend>                
                <div class="form-group">
                    {{ form.email.label() }}
                    {% if form.email.errors %}
                        {{ form.email(class='form-control form-control-lg is-invalid') }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class='form-control form-control-lg') }}
                    {% endif %}                    
                </div>
                <div class="form-group">
                    {{ form.submit(class='btn btn-outline-info') }}
                </div>
            </fieldset>            
        </form>
    </div>
{% endblock %}