{% extends 'layout.html' %}
{% set active_page = posts.items[0].category %}
{% block content %}
    <h1 class="mb-3">Category: {{ posts.items[0].category }} ({{ posts.total }})</h1>
    {% for post in posts.items %}
        <div class="card mb-3 p-3 shadow bg-light">
            <div class="row">
                <div class="ml-3 mb-3 pr-2">
                    <img src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}" class="post-img rounded mx-md-auto d-block">
                </div>
                <div class="col">
                    <h6 class="post-category mb-1 small">
                        {% filter upper %}
                            {{ post.category}}
                        {% endfilter %}
                    </h6>
                    <h3 class="post-title mb-3">
                        <a class="clean-a" href="{{ url_for('posts.post', post_id=post.id) }}">{{ post.title }}</a>
                    </h3>
                    <div class="text-muted small mb-3">
                        By <a class="clean-a" href="{{ url_for('users.user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
                        on {{ post.date_posted.strftime('%b %d, %Y')}}
                    </div>
                    <p class="post-content">{{ post.content }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
            {% if page_num == posts.page %}
                <a href="{{ url_for('posts.category_posts', category=posts.items[0].category, page=page_num) }}" class="btn btn-info mb-4">{{ page_num }}</a>
            {% else %}
                <a href="{{ url_for('posts.category_posts', category=posts.items[0].category, page=page_num) }}" class="btn btn-outline-info mb-4">{{ page_num }}</a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
{% endblock %}