{% extends 'layout.html' %}

{% block content %}
    {% for post in posts %}
        <div class="card m-3 p-3 shadow">
            <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <h6 class="card-subtitle mb-2 text-muted small">{{ post.date}}</h6>
                <p class="card-text">{{ post.content }}</p>
                <footer class="blockquote-footer">{{ post.author }}</footer>
            </div>
        </div>
    {% endfor %}
{% endblock %}